[user]
	name = Patrick McCarren
	email = patrick@cumulative.io
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = $HOME/.gitignore
	autocrlf = input
	ignorecase = false
	pager = less -x1,5
[log]
	decorate = full
[alias]
	a = add
	A = add -A
	p = push
	d = diff
	di = diff
	dc = diff --cached
	dw = diff -w
	po = push origin
	pt = push --follow-tags
	st = status
	co = checkout
	cob = checkout -b
	ci = commit
	cia = commit --amend
	cim = commit -m
	br = branch
	bra = branch -a
	fl = flow
	flfe = flow feature
	flre = flow release
	flho = flow hotfix
	flsu = flow support
	flve = flow version
	flp = push origin develop master --tag
	sh = show
	sta = stash
	sub = submodule
	pre = pull --rebase
	up = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lt = describe --abbrev=0
	logg = log --graph
	tg = tag
	subur = submodule update --recursive
	rpo = remote prune origin
[color]
	ui = true
[push]
	default = simple
[github]
	user = pmccarren
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
