[user]
	name = Patrick McCarren
	email = patrick@cumulative.io
	signingkey = 6B20FEBD
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = $HOME/.gitignore
	autocrlf = input
	ignorecase = false
	pager = less -x1,5
[log]
	decorate = full
[alias]
	a = add
	A = add -A
	p = push
	d = diff
	di = diff
	dc = diff --cached
	dw = diff -w
	po = push origin
	pt = push --follow-tags
	pg = push github --follow-tags
	st = status
	co = checkout
	cob = checkout -b
	cot = checkout --track
	ci = commit
	cia = commit --amend
	cim = commit -m
	br = branch -vv --sort=-committerdate
	bra = br -a
	fl = flow
	flfe = flow feature
	flre = flow release
	flho = flow hotfix
	flsu = flow support
	flve = flow version
	flp = push origin develop master --tag
	sh = show
	sta = stash
	sub = submodule
	pre = pull --rebase
	up = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lgs = lg -n 25
	lt = describe --abbrev=0 --tags
	tg = tag
	tv = describe --tags
	logg = log --graph
	subur = submodule update --recursive
	rpo = remote prune origin
	r = reset

	#heatmap = https://github.com/jez/git-heatmap
	
	# Code Review Helpers
	# ref: https://blog.jez.io/cli-code-review/#code-review-philosophy
	# list files which have changed since REVIEW_BASE
    # (REVIEW_BASE defaults to 'master' in zshrc)
    br-files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

    # Same as above, but with a diff stat instead of just names
    # (better for interactive use)
    br-stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
[color]
	ui = true
[push]
	default = simple
[github]
	user = pmccarren
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[pull]
	rebase = false
[gpg]
	program = gpg
[init]
	defaultBranch = main
[commit]
	gpgsign = true
